{% extends 'base.html' %}

{% block content %}
    {% load static %}
    <header >
        <nav class="navbar navbar-inverse"></nav>
            <ul class="nav navbar-nav">
                <li><a href="#">BMW</a></li>
                <li><a href="#">lamborgini</a></li>
                <li><a href="#">mustang</a></li>
                <li><a href="#">jaguar</a></li>
                <li><a href="{% url 'home' %}" >გასვლა</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="mtavarigverdi" style="display: flex;">
            <div class="marcxena" style="width: 400px; background-color: #FFEABD; border: 4px double rgb(0, 0, 0);">
                <div class="avatar" >
                    <img src="{% static 'img/BMW/BMW.png' %}" alt="BMW" style="width: 150px; height: 150px; margin: 20px 110px" >
                </div>
                <div class="piradi" style="margin: 50px 30px;">
                  <h2><a href="{% static 'BMW-istoria.html' %}" style="font-size:22px;">BMW-ს დაარსების ისტორია </a></h2>
                </div>
                <div class="kategoriebi">
                   <h3>
                        <a href="{% static 'bmw8.html' %}" style="margin: 50px 100px; font-size:18px;">BMW M8 sport</a></h2><br><br>
                    </h3>
                    <h3>
                        <a href="{% static 'bmwx5.html' %}"style="margin: 50px 110px; font-size:18px;" >BMW x5 E70</a><br><br>
                    </h3>
                    <h3>
                        <a href="{% static 'bmwx6.html' %}" style="margin: 50px 120px; font-size:18px;">BMW x6  </a><br><br>
                    </h3>
                </div>
            </div>
            <div class="marjvena" style="width: 100%;
                        background-color: #ffffcc;
                        border: 4px double #000000;
                        display: flex;
                        flex-wrap: wrap;
                        margin-bottom: 40px;">

                    {% csrf_token %}
                    {% for car in cars %}
                    <div  >
                        
                        <img src="{{car.img.url}}"  style="width: 90%; height: 250px; margin: 20px;" >
                        
                        <p style="width: 30%; margin-left: 20px;" >{{car.modeli}}</p> 
                        <p style="width: 350px; margin-left: 20px;">{{car.texti}}</p>   
                    </div>
                        
                    {%endfor%}    
            </div>
        </div>
        <div class="koment-popup" id="myForm" >
            <!-- <form action="/action_page.php" class="form-container">
                <div class="sasaubrosatauri">
                    <div class="">
                        <img src="img/icons/group.png" alt="" style="width: 100%;">
                    </div>
                    <div class="sasaubrosurati">
                        <h3>კომენტარი</h3>
                    </div>
                </div>
                <textarea placeholder="ტექსტის ჩასაწერი..." name="msg" required></textarea>
                <button type="submit" class="btn">გაგზავნა</button>
                <button type="button" class="btn cancel" onclick="sasaubrosdaxurva()">დახურვა</button>
            </form> -->
        </div>
    </main>
    <footer class="footkon" id="fotter">
        <div id="foot"></div>
        <button class="sasaubro koment" onclick="sasaubrosgaxsna()">დატოვე კომენტარი</button>
    </footer>
{% endblock %}